<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MakeBank</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Cards CSS -->
    <link rel="stylesheet" href="static/css/materialize.min.css">
    <script src="static/js/jquery.js"></script>
    <script src="static/js/materialize.min.js"></script>

    <!-- Custom CSS -->
    <link href="static/css/stylish-portfolio.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>



    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">






    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<style>
    .card.medium {

        color : black;
        text-align: center;
        text-decoration: blink;
    }

    .text-darken-4 {
        text-align: center;
        font-size: 10%;
    }
    .thinner{
        padding-left: 5%;
        padding-right: 5%;
    }
    .card-title {
        font-size:200%;
    }


    }
</style>

<body>

    <!-- Navigation -->
   <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick=$("#menu-close").click();>
                <!-- Hello Lender! -->
                <img class="ui avatar circular image" style="width:40px; height:40px;" src="static/img/Dikky.jpg">
                <span>Hello Lender</span>
                </a>
            </li>
            <li>
                <a href="#top" onclick=$("#menu-close").click();>My Profile</a>
            </li>
            <li>
                <a href="/borrow" onclick=$("#menu-close").click();>Borrow</a>
            </li>
            <li>
                <a href="/lend" onclick=$("#menu-close").click();>Give a Loan</a>
            </li>
            <li>
                <a href="#about" onclick=$("#menu-close").click();>Ongoing Transactions</a>
            </li>
            <li>
                <a href="#about" onclick=$("#menu-close").click();>Transaction History</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <!-- <div class="container"> -->
        <div class="text-vertical-center">
            <div class="row" style="vertical-align:text-top;">
                <h1 style="font-size:400%;">Search Results</h1>
                <h2 style="font-size:200%">Here are your best options, take a look!</h2>
               
            </div>

      <!-- Left Card -->
          <div class="row">
            <div class = "col-sm-4 thinner">
                <div class="card medium">
                  <div class="card-image waves-effect waves-block waves-blue">
                    <img class="activator" src="static/img/placeH.png">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{ name1 }}<i class="material-icons right blue-text" style="font-size: 36px;">keyboard_arrow_up</i></span>

                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                    <br>
                    <br>
                    <ul><span class="card-title grey-text text-darken-4">{{ name1 }}</span></ul>
                    <br>

                    <ul>
                    <li>Desired Amount: {{ amount1 }}</li>
                    <li>Desired Rate: {{ rate1 }}</li>
                    <li>Credit Score: {{ credit1 }}</li>
                    </ul>
                  </div>
                </div>
            </div>


            <div class = "col-sm-4 thinner">
                <div class="card medium">
                  <div class="card-image waves-effect waves-block waves-blue">
                    <img class="activator" src="static/img/placeH2.png">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{ name2 }}<i class="material-icons right blue-text" style="font-size: 36px;">keyboard_arrow_up</i></span>

                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                    <br>
                    <br>
                    <span class="card-title grey-text text-darken-4">{{ name2 }}</span>
                    <br>
                    <ul>
                    <li>Desired Amount: {{ amount2 }}</li>
                    <li>Desired Rate: {{ rate2 }}</li>
                    <li>Credit Score: {{ credit2 }}</li>
                    </ul>
                  </div>
                </div>
            </div>


            <div class = "col-sm-4 thinner">
                <div class="card medium">
                  <div class="card-image waves-effect waves-block waves-blue">
                    <img class="activator" src="static/img/placeH3.jpg">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{ name3 }}<i class="material-icons right blue-text" style="font-size: 36px;">keyboard_arrow_up</i></span>

                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                    <br>
                    <br>
                    <span class="card-title grey-text text-darken-4">{{ name2 }}</span>
                    <br>
                    <ul>
                    <li>Desired Amount: {{ amount3 }}</li>
                    <li>Desired Rate: {{ rate3 }}</li>
                    <li>Credit Score: {{ credit3 }}</li>
                    </ul>
                  </div>
                </div>
            </div>


          </div>



          <!-- <div class="container">
            <h2>Please fill out the following information to best match you to potentional borrowers</h2>
            <form action="/lend" method="POST">
              <div class="form-group">
                <label for="usr">Amount willing to lend:</label>
                <input type="text" name ="amount" class="form-control" id="usr">
              </div>
              <div class="form-group">
                <label for="pwd">Interest rate:</label>
                <input type="text" name ="rate" class="form-control" id="pwd">
              </div>
              <input type="submit" name="my-form" value="Find Borrowers">
            </form>
          </div> -->
        </div>
    </header>

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
            var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        }
        // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
    </script>

</body>

</html>
